body {

	font-family: 宋体;

	font-size : 12px;

	margin : 0;

	padding : 0;

	line-height : 20px;

}



tr td{

font-size:12px;

}

form{

margin:0;

margin-left:auto;

margin-right:auto;

}



/***********************************************************/

/*这是右边标题的样式*/

.title_bg{

background:url(title_bg1.gif);

height:22px;

line-height:22px;

}

.title_bg2{

background:url(title_bg2.gif);

height:27px;

}



/*这是对边框的设置*/

.bd{

border: 1px solid #8DB2E3;

}

.bd_b{

border-bottom:1px solid #8DB2E3;

}

.bd_l{

border-left:1px solid #8DB2E3;

}

.bd_r{

border-right:1px solid #8DB2E3;

}


/*背景设置*/

.bg{

	background:#FFFFFF;

}



.bg1{

	background:#8DB2E3;

}

a{

	font:12px;

	text-decoration:none;

	color:#333333;

}

a:hover{

	font:12px;

	text-decoration:none;

	color:#FF9900;

}



/*这是对文字设置*/

.f-12{

	font-size:12px;

}



.f-b{

font-weight:900;

}

.f-6{

color:#666666;

}

.f-bulue{

color:#15428B;

}

.f-bulue1{

color:#416AA3;

}


/*这是设置行高*/

.line-20{

line-height:20px;

}





/*------------------------------------正文内容样式------------------------------------------------------------*/

/*这是表单INPUT的样式设置*/



.input_out{/*离开*/

border:solid #dddddd 1px;

height:22px;

FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f5f5f5', endColorStr='#eeeeee', gradientType='0');

}



.input_on{/*放上去*/

border:solid #80AFD9 1px;

height:22px;

FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f5f5f5', endColorStr='#eeeeee', gradientType='0');

}



.textarea_out{/*离开*/

border:solid #dddddd 1px;

height:50px;

FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f5f5f5', endColorStr='#eeeeee', gradientType='0');

}

.textarea_on{/*放上去*/

border:solid #80AFD9 1px;

height:50px;

FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#f5f5f5', endColorStr='#eeeeee', gradientType='0');

}







.check_li{

height:20px;

line-height:20px;

}















































